.doc .admonitionblock .icon {
    border-radius: 1rem;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}

i.fa.icon-note::before {
    background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip::before {
    background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important::before {
    background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning::before {
    background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution::before {
    background: no-repeat url("../img/caution.svg");
}

.admonitionblock.option td.icon > i.fa.icon-note::before {
    background: no-repeat url("../img/option.svg");
}

.admonitionblock.option td.icon .icon-note:after {
    content: "Option" !important;
}

.doc .admonitionblock.option .icon {
    background-color: #bf55c2;
}

.doc .admonitionblock.caution .icon {
    background-color: #ff8716;
}

.navbar {
    background-color: #534FF5;
}

td.hdlist1 {
    font-weight: 500;
    vertical-align: top;
}

td.hdlist2 {
    vertical-align: top;
}

div.title {
    font-style: italic;
    font-weight: 500;
    color: #5d5d5d;
}

div.sidebarblock {
    background-color: #e4e4f2 !important;
}

span.green {
    color: limegreen;
}

span.red {
    color: red;
}

.footnote {
    font-size: 0.85em;
}

h2 {
    background-color: whitesmoke;
    border-bottom: none !important;
}

h3 {
    border-bottom: 1px solid #e1e1e1;
}

h3 code {
    background-color: #e1e1e1;
    font-family: monospace;
}

h4 {
    font-size: 1.1em;
    font-weight: 500 !important;
}

ul.none {
    list-style: none;
}

.lead {
    font-size: larger;
}

.edit-this-page {
    display: none;
}

a[href*="//"]:not([href*="epicremastered.com"]):after {
    background-size: 100%;
    background-image: url("../img/external-link.svg");
    content: " ";
    display: inline-block;
    vertical-align: text-top;
    height: 0.8em;
    width: 0.8em;
    margin-left: 0.15em;
}